@model IEnumerable<ProjectA.Models.DangKyHocBong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHocBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TgDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TgDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDangKy">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDangKy">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDangKy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
