@model IEnumerable<ProjectA.ViewModel.HocBongViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Active"] = "HB";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHocBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLhb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungHb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiTuongApDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KinhPhi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDuKienPhatHb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHocBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLhb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungHb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiTuongApDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDuKienPhatHb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHocBong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHocBong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHocBong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
